{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "COSMOS_DB_URI": "mongodb://localhost:27017/insurance-management",
    "COSMOS_DB_NAME": "insurance-management",
    "OCR_RESULTS_COLLECTION": "ocrresults",
    "APPLICATIONS_COLLECTION": "applications"
  }
}
